$color-main: #343a40;
$color-secondary: #eceff4;
$grey: #4A4D57;
$normal: #15cda8;
$lightest: #dcdcdc;
$light: #6a39c6;
$color-white: #f6eeee;
$purple: #54123b;
$dark-red: #84142d;
$light-red: #c02739;
