.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-item {
    flex: 0 0 30%;
    margin: 10px;
}

.card-item {
    flex: 0 0 10%;
    margin: 10px;
}

.content-item {
    margin: auto;
}