---
---
@import "main.scss";

nav a:link, a:visited {
    color: default;
    text-decoration: none;
}
nav a:hover {
    color: green;
    text-decoration: none;
}
.jumbotron {
    color: white;
    background-image: url("../images/home_bckg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    filter: blur(4px) sepia(30%) brightness(50%);
}
.logo {
    height: 80vh;
    margin-top: 12vh;
    margin-left: 3vw;
}
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
.title {
    text-transform:uppercase;
    font-family: 'Oswald', sans-serif;
}
.text-title {
    color: #eee
}